*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Arial, sans-serif;
}
.section_globale{
    display: flex;
    align-items: center;
    gap: 1%;
    height: 100vh;
    position: relative;
}
.section_globale aside{
    width: 30%;
    background-color: rgb(219, 207, 207);
    height: 100vh;
    gap: 20px;
    
}
.section_globale aside h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px auto;
}
.card_small{
    display: flex;
    width: 80%;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
}
.card_small img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.card_small button{
    height: 20%;
    margin: auto 0 ;
    padding: 5px;
}
.add_new_worker{
    padding: 10px;
    border-radius: 10px;
    border: none;
    
    margin: 20px;
}
.work_env_dr{
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
.work_env_dr .grand_chamber{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.grand_chamber .chombre_1{
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 10px black;
}
.chomber_2{
     height: 60%;
     border: solid 10px black;
     display: flex;
    justify-content: center;
    align-items: center;
}
.prtit_chamber{
    height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.petit_chamber_top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
}
.chomber_3{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 10px black;
}
.chomber_4{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 10px black;
}
.petit_chamber_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
    border: solid 10px black;
}
.chomber_5{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 10px black;
}
.chomber_6{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 10px black;

}
.work_env_dr button{
    padding: 5px 10px;
    background-color: rgb(56, 56, 141);
    border: none;
    border-radius: 2px;
}
.form{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 97vh;
    border: solid 0.1px black;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    left:30%;
    box-shadow: 0 0 1000px black;
    display: none;
}
.form input , select , .form button {
    height: 24px;
    margin: 2px;
}
.div__experionce{
    display: flex;
    flex-direction: column;
    padding: 12px;
    border: solid 0.1px black;
    border-radius: 12px;
    margin: 10px;
    background-color: rgba(197, 197, 197, 0.728);
}
.div__experionce button , .div__experionce input , .div__experionce label{
     height: 24px;
    margin: 2px;
}
button{
    background-color: rgb(175, 129, 3);
    border: none;
    border-radius: 4px;
    color: aliceblue;
}
h2{
    color: rgb(43, 43, 168);
}
input , select{
    padding: 4px;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: rgba(11, 13, 15, 0.189);
}
.error{
    border : red;
    background-color: rgb(196, 119, 119);
}
.error_p{
    color: red;
    font-size: 12px;
}